/* .menu {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu-trigger {
    background-color: #F00;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 5000 !important;
}

.menu-trigger:hover {
    background-color: #FFF000;
}

.menu-trigger:hover .dropdown {
    top: 0px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #FDF;
    transition: all 0.4s ease;
    padding: 40px;
} */

html, body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

nav {
    background-color:cadetblue;
    width:100%;
    color: white;
    padding: 20px;
}

.banner {
    width: 100%;
    height: 400px;
    background-color:blueviolet;
    color: white;
    padding: 20px;
}

.content {
    width: 60%;
    margin: 0 20%;
    display: flex;
    padding: 50px 0;
    color: white;
}

.block1 {
    background-color: cadetblue;
    width: 30%;
    height: 300px;
    margin-right: 3%;
    display: inline-block;
    padding: 10px;
}

.block2 {
    background-color: cadetblue;
    width: 30%;
    height: 300px;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
    padding: 10px;
}

.block3 {
    background-color: cadetblue;
    width: 30%;
    height: 300px;
    margin-left: 3%;
    display: inline-block;
    padding: 10px;

}
footer{
    background-color: blueviolet;
    display: flex;
    width:100%;
    padding: 40px 20%;
}

.footer1 {
    width: 28%;
    height: 100px;
    display: inline-block;
    background-color:white;
    margin-right: 4%;
}

.footer2 {
    width: 28%;
    height: 100px;
    display: inline-block;
    background-color: white;
}