/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0 50px;
    font-family: verdana;
}

/* exercise 4 */
/* .red-square {
    background-color: lightblue;
    border: 5px double darkblue;
    border-radius: 20px;
    width: 200px;
    height:200px;
    margin: 50px;
}

#person {
    background-color: lightpink;
    border: 2px solid #F0F;
    border-radius: 5px;
    width: 200px;
    height:200px;
    margin: 50px;
    float: right;
}

h3 {
 font-size: 1.5em;
 font-family: Arial;
 text-align: center;
 padding: 60px 0;
 color:#FFF;
} */

/* Exercise 5 */
/* .cascading-parent {
    font-weight: bold;
    background-color: #c33a3a;
    width: 400px;
    height: 300px;
    padding: 50px;
    margin: 50px;
}

.cascading-child {
    font-family: monospace;
    color: #c33a3a;
    text-align: center;
    font-size: 1.5em;
    background-color: #FFF;
    height: 200px;
    padding: 40px;
    border: 10px #c33a3a dashed;
} */

/* Exercise 6 */

/* a {
    font-size: 25px;
    color: rgb(13, 9, 61);
    Background-color: rgb(212, 214, 214);
    border: 2px rgb(13,9,61) solid;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
}

h2 {
    Font-size: rgb(13,9,61);
    color: #444;
    margin: 50px 0;
}

.cascading-parent h2 {
    color: #000;
    font-weight: 200;
    text-decoration:line-through;
}

.cascading-parent a {
    font-size: 30px;
    color: rgb(212,214,214);
    background-color: rgb(13,9,61)
} */

/* Exercise 7 */
/* .site-font {
    font-family:verdana;
    font-size: 16px;
    Width: 200px;
    height: 200px;
    margin: 50px;
    padding: 10px;
    text-align:center;
    background-color:darkmagenta;
    border-radius: 10%;
}

.site-color {
    background-color: indigo;
    color: #FFF;
    font-weight: bolder;
    width: 300px;
    height: 300px;
    border-radius: 20%;
}

.site-square {
    width: 400px;
    height: 400px;
    background-color:cornflowerblue;
    color: wheat;
    border-radius: 100%;
}

.site-square h2 {
    margin-top: 190px;
    font-size: 20px;
} */

/* Exercise 8 */

ul {
    margin: 50px 0;
}
a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid white;
}

/* unvisited link */
a:link {
    color: white;
    background-color: darkcyan;
    
  }
  
  /* visited link */
  a:visited {
    color:white;
  }
  
  /* mouse over link */
  a:hover {
    color:darkcyan;
    background-color: white;
    border: 2px solid darkcyan;
  }
  
  /* selected link */
  a:active {
    color:darkcyan;
    font-weight: bold;
    background-color: white;
    border: 2px solid darkcyan;
  }